In [9]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="final_user",
  password="pass",
  database="DB_CIS552_Final_Project"
)

In [27]:
  #Query to show number of customers for each payment_type

  sqlquery1= "SELECT payment_type,count(invoice_id) As 'number of customers'  from invoice group by payment_type"
  mycursor=mydb.cursor()
  mycursor.execute(sqlquery1)
  resultquery = mycursor.fetchall()

  for x in resultquery:
    print(x)

('Credit', 2)
('Cash', 3)
('Debit', 1)

In [26]:
#Query to select the customer name that has ordered the most in the last week

sqlquery2= "select concat(cus_firstname,' ',cus_lastname) as Customer,orders_count from (SELECT cus_firstname,cus_lastname,count(distinct orders.order_id) as orders_count,rank() over (order by count(distinct orders.order_id) desc) Customer_Rank from customer join orders ON customer.cus_id=orders.cus_id join invoice on orders.order_id=invoice.order_id WHERE order_date >= now()-interval 7 day group by customer.cus_id order by orders_count desc) tableh where Customer_Rank=1"
mycursor=mydb.cursor()
mycursor.execute(sqlquery2)

resultquery = mycursor.fetchall()

for x in resultquery:
    print(x)

('Kezia Lankapalli', 2)

In [29]:
#Query to show the highest rated item in each restaurant
sqlquery3= "select res_name,menu_item_desc,Avg_Rating from(SELECT R.res_name,Cuisine.menu_item_desc,AVG(Ra.menu_item_rating) Avg_Rating,rank() over (partition by R.res_name order by AVG(Ra.menu_item_rating) desc) as 'Rank_Item' FROM RESTAURANT R JOIN ORDERS ON R.res_id=orders.res_id  JOIN RATING Ra ON orders.order_id=Ra.order_id and orders.menu_item_id=Ra.menu_item_id JOIN Menu ON Orders.menu_item_id=Menu.menu_item_id and Orders.res_id=Menu.res_id JOIN Cuisine ON Menu.menu_item_id=Cuisine.menu_item_id group by R.res_name,Cuisine.menu_item_desc) tabled where Rank_Item=1;"
mycursor=mydb.cursor()
mycursor.execute(sqlquery3)
resultquery = mycursor.fetchall()
for x in resultquery:
    print(x)

('Makau', 'Veg Pizza', Decimal('5.000000'))
('Makau', 'Pad Thai', Decimal('5.000000'))
('Spicy Venue', 'Chicken Lollipop', Decimal('4.800000'))
('Telangana Spice', 'Pepper Chicken', Decimal('4.500000'))